.git
.gitignore
**/.git
**/.DS_Store
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.log
**/*.tmp
**/*.swp
.venv/
venv/
venvs/
node_modules/
showcase/
train/
eval/
outputs/*.safetensors
outputs/*.bin
outputs/*.pt
outputs/*.ckpt
